@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bienvenido a mi pagina</h1>
    <p>¡Gracias por visitar!</p>
    <img src="https://t3.ftcdn.net/jpg/00/87/97/06/360_F_87970620_Tdgw6WYdWnrZHn2uQwJpVDH4vr4PINSc.jpg" alt="Imagen de ejemplo" style="width: 50%; height: auto;" />
</div>
